


<div class="profile-main-container">

	<div class="profile-header"> 
		<div class="inner-profile-header">
			<div class="navbar">
			  <div class="navbar-inner">
			    <ul class="nav">
			      <li><a href="/users/<%= current_user.id %>">Profile</a></li>
			      <li><a href="/users/<%= current_user.id %>">Friends</a></li>
			      <li><a href="/users/<%= current_user.id %>">Inbox</a></li>
			    </ul>
			  </div>
			</div>

		</div> <!-- end inner-profile-header --> 
	</div> <!-- end profile-header --> 


	<div class="profile-body">
		<div class="inner-profile-body">
			<% if @conversations %>
				<% @conversations.each do |convo| %> 
					<% if convo.last.recipient.id == current_user.id %>
						<% other_person = convo.last.user %>
					<% else %>
						<% other_person = convo.last.recipient %>
					<% end %>
					<a href="/users/<%= other_person.id %>/messages">
						<%= "A message from: " + other_person.full_name %><br>
					</a>
						<%= "recieved " + time_ago_in_words(convo.last.created_at) + " ago" %>
					<hr>
				<% end %> 
			<% elsif @conversation %>

				<%= render partial: "add_message" %> 
				<% @conversation.each do |mess| %>
						<%= render partial: "message", locals: {message: mess} %>
				<% end %> 
			<% end %> 
			
		</div> <!-- end inner-profile-body --> 
	</div> <!-- end profile-body --> 

</div> <!-- end profile-main-container --> 