
<% unless current_user.id == params[:id].to_i %>
	<% if current_user.friend_ids.include?(params[:id].to_i) %>
		<button class="btn btn-danger" id="destroy-friendship-<%= params[:id] %>">Defriend</button>
	<% else %>
		<% if current_user.friend_requests.where(requestee_id: params[:id]).empty? %>
			<button class="btn btn-danger" id="friend-request-<%= params[:id] %>">Friend</button>
		<% else %>
			<span class="badge badge-important" id="friend-request-pending">Request Pending</span>
		<% end %>
	<% end %> 
<% end %> 


<script>  

	$(document).ready(function () {

		var $friend_button = $("#friend-request-<%= params[:id] %>")
		var requestee_id = <%= params[:id] %>

		$friend_button.on("click", function () {
			
			$.ajax({
				url: "<%= friend_requests_path %>",
				type: "POST",
				data: {
						"id" : requestee_id
					},
				success: function() {
					$friend_button.addClass("invisible");
				}
			})
		});


	});


</script> 


