<!DOCTYPE html>
<html>
<head>
  <title>Friendface</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header>
		<div class="main-header-container"> 
			<div id="logo-container">
				<div id="main-logo">
					friendface
				</div>
			</div> <!-- end "logo-container" --> 

			<div id="main-nav-container">
				<ul class="hmenu">
					<li>
						<button class="btn btn-danger"><%= render 'devise/menu/registration_items' %></button>
					</li>
					<li>
						<button class="btn btn-danger"><%= render 'devise/menu/login_items' %></button>
					</li>
				</ul>
			</div> <!-- end "main-nav-container" --> 
		
		</div>  <!-- end "main-header-container" --> 
	</header>

	<% if notice %> 
		<p class="notice"><%= notice %></p>
	<% end %>

	<% if alert %> 
		<p class="alert"><%= alert %></p>
	<% end %> 


	<div class="main">


		<div class="main-body">
			<%= yield %>
		</div> <!-- end "main-body" --> 

	</div> <!-- end "main" -->

	
</body>
</html>
